html,
* {
  font-family: helvetica;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 50px 150px 150px 50px;
}

main {
  display: grid;
  grid-template-rows: 2fr 0.5fr 0.5fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  position: absolute;
  height: 75vmin;
}

#amp {
  height: 15vmin;
  grid-column: 1;
  grid-row: 1;
}

#playTrack {
  background-color: #738281;
  height: 10vmin;
  font-size: 2vmin;
  color: #dc04c3;
  display: flex;
  justify-content: center;
  font-family: "New Rocker", cursive;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
}

#Restart {
  background-color: #738281;
  height: 10vmin;
  font-size: 2, vmin;
  color: #dc04c3;
  font-family: "New Rocker", cursive;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
}

#flangerPedal {
  grid-column-start: 3;
  grid-row-start: 2;
  background: #ff94fd;
}

#reverbPedal {
  grid-column-start: 3;
  grid-column-end: 4;
  align-content: center;
  background: #ff94fd;
}

#tremoloPedal {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  background: #ff94fd;
}

#fuzzPedal {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  background: #ff94fd;
}

#heavyMetalPedal {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  background: #ff94fd;
}

#octavePedal {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  background: #ff94fd;
}

button {
  height: 3.5vmin;
}

#timer {
  color: #dc04c3;
  font-family: "New Rocker", cursive;
  font-size: 1, vmin;
  grid-column-start: 2;
  grid-row-start: 1;
}

#flanger {
  height: 10vmin;
}

#tremolo {
  height: 10vmin;
}

#octave {
  height: 10vmin;
}

#reverb {
  height: 10vmin;
}

#heavyMetal {
  height: 10vmin;
}

#fuzz {
  height: 10vmin;
}
