html, * {
    font-family: helvetica;
    box-sizing: border-box;
  }
  

body {
    height: 100vh; 
    display: grid; 
    align-content: center;
    grid-template-columns: 40vmin 10vmin 10vmin 10vmin; 
    grid-template-rows: 30vmin 10vmin 10vmin; 
}

#pedalBoard, amp {
    display: grid; 
    grid-template-columns: 1;
    grid-template-rows: 1 / 3;
    
}

#flanger {
    width: 50px;
    height: 100px;
    
}
#fuzz {
    width: 50px;
    height: 100px;
     
}
#heavy-metal {
    width: 50px;
    height: 100px;
     
}
#octave {
    width: 50px;
    height: 100px;
     
}
#reverb {
    width: 50px;
    height: 100px;
     
}
#tremolo {
    width: 50px;
    height: 100px;
     
}

#amp {
    width: 240px;
    height: 300px; 
}

