html,
* {
  font-family: helvetica;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 50px 150px 150px 50px;
}

main {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

#amp {
  height: 1000px;
  width: 790px;
  justify-content: center;
  align-content: center;
}

#playTrack {
  background-color: grey;
  height: 200px;
  width: 1000px;
}

#flangerPedal {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
}

#reverbPedal {
  grid-column-start: 3;
  grid-column-end: 4;
  align-content: center;
}

#tremoloPedal {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
}

#fuzzPedal {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
}

#heavyMetalPedal {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
}

#timer {
  color: white;
}

button {
  height: 80px;
  width: 80px;
}
